<html>
  <head>
    <title>little jobs</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
  	  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/form">Work Form</a></li>
  <li><a href="/sendto">Board</a></li>
  </ul>

  <h1 class= "place"> Little Jobs</h1>
      <h4 class="placment">Are you a high school or an university student? Do you need a little job on the side? Or Are you a parent in need of a one time baybiser? Do you need someone to do some one time gig for you?If yes then Little Jobs is just for you. Little Jobs is a platform, allowing you to post as an employee or a worker. If you need something small done for you or you are the one willing to do it you just create a post with your details and wait for someone to contact you.
 </h4>
  <img alt="babysitting image" src="../static/images/babysitting.jpg" width= "500" hight="400">

  </body>
</html>